/* src/style/Sveces.css */

.sveces-container {
    padding: 20px;
    text-align: center;
}

.home-button, .view-cart-button {
    position: absolute;
    top: 20px;
    background-color: #3d3c3c;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.home-button {
    left: 20px;
}

.view-cart-button {
    right: 20px;
}

.home-button:hover, .view-cart-button:hover {
    background-color: #8a7d7d;
}

.galerija {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.svece-item {
    /* Noņemam fona krāsu */
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 300px;
    text-align: left;
    transition: transform 0.3s ease;
    position: relative;
}

.svece-item:hover {
    transform: translateY(-10px);
}

.svece-bilde {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.svece-name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.svece-price {
    color: #381b17;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.svece-description {
    color: #7f8c8d;
    margin-bottom: 10px;
}

.add-to-cart-button {
    background-color: #8a7d7d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #5c5454;
}

.sold-out-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(160, 22, 22);
    color: white;
    padding: 5px 10px;
    border-radius: 10%;
    font-size: 1.0em;
    text-align: center; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    z-index: 1;
}

/* Responsivitātei */
@media (max-width: 900px) {
    .galerija {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .galerija {
        grid-template-columns: 1fr;
    }
}
