.auskari-container {
    text-align: center;
    margin: 20px;
}

.galerija {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.auskari-item {
    display: flex;
    align-items: flex-start; /* Teksts sāksies no bildes augšas */
    width: 100%;
    max-width: 1000px;
    justify-content: flex-start;
    padding-left: 20px;
}

.auskari-bilde {
    width: 50%; /* Samazina bildes platumu, lai būtu vairāk vietas tekstam */
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px rgb(85, 85, 85);
    transition: transform 0.3s ease;
    margin-right: 20px;
}

.auskari-bilde:hover {
    transform: scale(1.05);
}

.auskari-apraksts {
    width: 48%; /* Tekstam lielāka platuma daļa */
    font-size: 1.6em; /* Palielināts teksta izmērs */
    color: #fafafa;
    text-align: left;
    margin-top: 0; /* Noņem vertikālo nobīdi, lai sakristu ar bildes augšu */
    margin-left: 100px; /* Pārvieto tekstu vairāk pa labi */
    padding-right: 20px;
}
.home-button {
    position: absolute;
    top: 20px; /* Augstuma attālums no lapas augšas */
    left: 20px; /* Attālums no kreisās malas */
    padding: 10px 20px;
    background-color: #333;
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #555; /* Pogas krāsa mainās uz pelēku, kad tā ir hover stāvoklī */
}
