/* src/Components/Header.css */
.header {
    background-color: rgb(19, 18, 18);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    overflow: hidden; /* Lai slēptu pārsniegto saturu */
  }
  
  .marquee {
    display: flex; 
    white-space: nowrap; 
    animation: marquee 45s linear infinite;
  }
  
  .marquee p {
    margin: 0;
    padding: 0 50px; 
    color: white;
  }
  
  /* Animācija pārvietojot uzrakstus */
  @keyframes marquee {
    0% {
      transform: translateX(100%); /* Sākas ārpus ekrāna labajā pusē */
    }
    100% {
      transform: translateX(-100%); /* Beidzas ārpus ekrāna kreisajā pusē */
    }
  }
  