h1 {
  text-align: center;
  margin-bottom: 20px;
  
  }
  
.image-gallery {
  display: flex;
  justify-content: center;
  gap: 40px; /* Atstarpe starp bildēm */
  
}
  
.image-item {
  text-align: center;
}
  
.image-item {
  position: relative;
  display: inline-block;
  perspective: 1000px;
}

.image-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image-item img {
  width: 250px;
  height: 250px;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  border-radius: 20% 30% 40% 30%; /* Stūri ar dažāda izmēra ieapaļumiem */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(0deg); /* Sākotnējā pozīcija */
}

.image-item img:hover {
  transform: scale(1.1) rotate(10deg); /* Palielinājums un pagriešanās par 10 grādiem */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.image-item:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(135deg, rgba(87, 85, 80, 0.4), rgba(168, 162, 164, 0.4));
  z-index: -1;
  filter: blur(15px);
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.image-item:hover:before {
  opacity: 1;
  transform: rotate(10deg); /* Fona gradienta griešanās */
}

.image-item p {
  margin-top: 10px;
  font-size: 1.4em;
  text-shadow: 4px 4px 6px rgba(75, 74, 74, 0.8);
}

.button{
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}
 
.top-left-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.home-button {
  background-color: #3b3b3b; 
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}


