.sveces-container {
    text-align: center;
    margin: 20px;
    background: linear-gradient(to right, #f8f8f8, #e0e0e0); 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.galerija {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolonnas vienā rindā */
    gap: 40px; /* Attālums starp produktiem */
}

.svece {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svece:hover {
    transform: translateY(-10px);
}

.svece-bilde {
    width: 100%;
    max-width: 400px; /* Palielināts maksimālais platums, lai bildes būtu lielākas */
    height: auto; /* Saglabā proporcijas */
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.svece-bilde:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.svece-apraksts {
    font-size: 1.4em; 
    color: #181818;
    text-align: center;
    margin-top: 10px;
    padding: 0 10px;
}

.add-to-cart-button {
    background-color: #5d5e5d; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 15px;
}

.add-to-cart-button:hover {
    background-color: #4e4d4e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Responsivitātei */
@media (max-width: 900px) {
    .galerija {
        grid-template-columns: repeat(2, 1fr); /* 2 produkti rindā uz mazākiem ekrāniem */
    }
}

@media (max-width: 600px) {
    .galerija {
        grid-template-columns: 1fr; /* 1 produkts rindā uz vēl mazākiem ekrāniem */
    }
}
