.background-cover {
  height: 70vh; /* Set this to cover the height of the viewport or desired container size */
  background-image: url('./assets/sakuma_bilde.jpeg');
  background-size: cover;   /* Make the background cover the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image repeating */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  color: white; /* Example styling for text, adjust as needed */
}
